body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    /*  */
    padding: 0;
    margin: 0;
  }
  /* added code */
  header{
    margin: 0; padding: 2em 5em 4em; color: black;
    overflow:hidden;
    position: relative;
    margin-bottom: 2rem;
  }
  
  header::after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    height: 100%;
    width:100%;
    transform: skewY(-4deg);
    background: #3DF5D6; 
    
    transform-origin: bottom left;
    z-index: -1;
  }
  
 
  
  textarea{
   width: 100%;
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border: 1px solid black;
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .description{
    white-space: pre-wrap;
  }
  
  .time-block{
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  /* .past {
    background-color: grey;
    color: Grey;
  }
  
  .present {
    background-color: #ff6961;
    color: #ff0000;
  }
  
  .future {
    background-color: #77dd77;
    color: white;
  } */
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }
  .planner-container{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.75);
    margin-bottom: 3rem;
  }
  .time-slot{
    display: display-outside;
  }
  